<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="conemu" />
  <package id="poshgit" />
  <package id="winmerge" />
  <package id="wireshark" />
  <package id="fiddler4" />
  <package id="slack" />
  <package id="spotify" />
  <package id="keepass" />
  <package id="notepadplusplus" />
</packages>
